<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.strongme.cordova.plugin.toasty" version="0.0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ToastyPlugin</name>
    <js-module name="ToastyPlugin" src="www/ToastyPlugin.js">
        <clobbers target="cordova.plugins.ToastyPlugin" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ToastyPlugin">
                <param name="android-package" value="cn.strongme.cordova.plugin.toasty.ToastyPlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/ToastyPlugin.java" target-dir="src/cn/strongme/cordova/plugin/toasty/ToastyPlugin" />
    </platform>
</plugin>